html {
	background-color: black;
}

.timer_box { 
	position: absolute;
	z-index: 1;
	background-color: red;
	opacity: .7;
	padding: 3px 15px; 
	margin-left: -5px;
	margin-top: 15px;
	font-family: "Futura", "Helvetica";
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}

.videoplayer { 
	position: absolute;
	z-index: -1;
	align: center;
	
	width: 100%;
	height: 100%;
}

.madeby {
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.madeby p {
	color: white;
	font-family: "Helvetica";
	opacity: .5;
	font-size: 65%;
	text-align: right;
}

.madeby a {
	color: white;
	text-decoration: none;
}

.madeby a:visited {
	color: white;
}

.madeby p:hover {
	color: white;
	opacity: .9;
}

.madeby a:hover {
	color: white;
	opacity: .9;
	text-decoration: underline;
}

#timer {
	display: inline;
	color: white;
	font-style: bold;
	font-size: 120%;
	vertical-align: center;
}

#tweetbutton {
	vertical-align: middle;
}

#custom-tweet-button a
{
  display: block;
  width: 55px;
  height: 20px;
  color: rgba(0,0,0,0);
  font-size:0;
  background: url("http://ecmendenhall.github.com/Infinite-Charleston/media/tweetbutton.png") no-repeat 0 0;
}
#custom-tweet-button a:hover
{
  background-position: 0 -21px;
}
#custom-tweet-button a:active
{
  background-position: 0 -42px;
}