html {
	background-color: black;
}

.timer_box { 
	position: absolute;
	z-index: 1;
	background-color: red;
	opacity: .7;
	padding: 3px 15px; 
	margin-left: -5px;
	margin-top: 15px;
	font-family: "Futura", "Helvetica";
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	vertical-align: center;	
	border-bottom-right-radius: 5px;	
}


.videoplayer { 
	position: absolute;
	z-index: -1;
	align: center;
	
	width: 100%;
	height: 100%;
}

#timer {
	display: inline;
	color: white;
	font-style: bold;
	font-size: 120%;
	vertical-align: center;
}